---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Button from "../components/Button.astro";
import Features from '../components/Features.astro';
import Works from '../components/Works.astro';

---

<Layout title="Fylo">
	<main class="w-full">
		<section class="grid place-items-center w-full mt-12 ">
			<Image class="max-sm:w-4/5" src='/images/illustration-intro.png' alt='hero image' height={200} width={500}/>
			<div class="grid place-items-center w-[100%] mt-7 px-2  bg-[length:100%_100%] bg-no-repeat bg-[url('/images/bg-curvy-desktop.svg')]">
				<h2 class=" text-2xl text-center font-raleway font-bold mb-4 w-[26.5rem] max-sm:w-4/5">All your files in one secure location, accessible anywhere.</h2>
				<p class="text-center  text-sm font-openSans w-[26.5rem] max-sm:w-4/5 ">Fylo stores all your most important filies in one secure location. Access them wherever you need, share and collaborate with friends family, and co-worker.</p>
				<Button isDefault={true} />
			</div>
			<Features />
			<Works />
		</section>
		
	</main>
</Layout>

<style>
	
</style>
