---
interface Props {
	isDefault: boolean;
}

const { isDefault } = Astro.props;
---
<button class={`cursor-pointer font-raleway font-semibold border-slate-50  rounded-3xl bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-100 hover:to-blue-100 ${isDefault ? 'mb-32 mt-4 h-12 w-60': 'mt-0 h-10 w-2/6 max-sm:w-full max-sm:h-12'} `} >Get Started</button>