---
import { Image } from "astro:assets";

const data = [
    {
        img: '/images/icon-access-anywhere.svg',
        title: 'Access your files anywhere',
        content: 'The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.'
    },
    {
        img: '/images/icon-security.svg',
        title: 'Security you can trust',
        content: '2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files. '
    },
    {
        img: '/images/icon-collaboration.svg',
        title: 'Real-time collaboration',
        content: 'Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.'
    },
    {
        img: '/images/icon-any-file.svg',
        title: 'Store any type of file',
        content: 'Whether you\'re sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.'
    }
] 
---
<section class="w-full bg-bg-main grid place-content-center place-items-center">
    <section class="w-2/4 mb-8 grid place-content-center place-items-center grid-cols-2 gap-12 max-lg:grid-cols-1">
        {data.map( items => (
            <div class=" grid place-items-center">
                <Image src={items.img} alt="img" height={20} width={50}/>
                <h2 class=" my-2 font-bold font-raleway">{items.title}</h2>
                <p class=" w-full text-center text-sm font-openSans">
                    {items.content}
                </p>
            </div>
        ))}
        
    </section>
</section>
