---
import { Image } from "astro:assets";

---
<section class=" flex bg-bg-main w-full p-16 justify-center gap-8 items-center max-[900px]:flex-col max-md:px-0 max-md:gap-10">
    <div class=" w-2/4 max-[900px]:w-10/12">
        <img class="" src='/images/illustration-stay-productive.png' alt='img'/>        
    </div>
    <div class=" w-2/5 max-[900px]:w-10/12">
        <h2 class=" text-2xl font-bold font-raleway w-72 mb-2 max-[900px]:w-auto ma">Stay productive, wherever you are</h2>
        <p class=" font-openSans w-[23rem] mb-2 text-sm max-[900px]:w-auto">Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.</p>
        <p class=" font-openSans w-[22rem] mb-4 text-sm max-[900px]:w-auto">Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
        <div class=" group flex gap-2 items-center justify-evenly w-[11rem] font-openSans pb-1 border-b-2 border-blue-100 text-blue-100 hover:text-white hover:border-white ">
            <a href="">See how Fylo works</a>
            <span class=" w-4 h-4 rounded-full bg-blue-100 block group-hover:bg-white"></span>
        </div>
        
    </div>
</section>